@page "/Adminauthordetails"
<div>
	<h3>Author Details</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>AuthorID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>DOB</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Author a in DatabaseInstance.viewAuthors())
		{
			<tr>
				<td>@a.authorID</td>
				<td>@a.fName</td>
				<td>@a.lName</td>
				<td>@a.gender</td>
				<td>@a.DOB</td>
			</tr>
		}
	</tbody>
</table>
<h3>Edit Author</h3>
<br />
<table class="table">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="text" @onchange="Eval_AuthorID" placeholder="Enter AuthorID here" id="DOB" class="form-control form-control-sm" />
			</td>
			<td>
				<a href="/EditAuthorData/{@authorID}"><p class="btn btn-secondary"></p></a>
			</td>
		</tr>
	</tbody>
</table>



@code {
	private int authorID;
	private void Eval_AuthorID(ChangeEventArgs e) {
		authorID = Int32.Parse((string)e.Value);
	}
}