@page "/Adminbookbrowser"
<div>
	<h3>Book Browser</h3>
</div>
<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Date Published</th>
			<th scope="col">Price</th>
			<th scope="col">Reviews</th>
			<th scope="col">SupplierID</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Book b in DatabaseInstance.viewBooks())
		{
			<tr>
				<td>@b.title</td>
				<td>@b.pubDate</td>
				<td>@b.price</td>
				<td>@b.reviews</td>
				<td>@b.supplierID</td>
			</tr>
		}

	</tbody>
</table>
<input type="text" placeholder="Enter ISBN#" @onchange="Eval_ISBN" id="ISBN#" />
<a href="/Admineditbook/{@ISBN}">
	<p class="btn btn-primary">
		Update Book Details
	</p>
</a>
@code {
	private string ISBN;
	private void Eval_ISBN(ChangeEventArgs e)
	{
		ISBN = (string)e.Value;
	}
}

