@page "/Adminbookbrowser"
<div>
	<h3>Book Browser</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Date Published</th>
			<th>Price</th>
			<th>Reviews</th>
			<th>SupplierID</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Book b in DatabaseInstance.viewBooks())
		{
			<tr>
				<td>@b.title</td>
				<td>@b.pubDate</td>
				<td>@b.price</td>
				<td>@b.reviews</td>
				<td>@b.supplierID</td>
			</tr>
		}

	</tbody>
</table>
<input type="text" placeholder="Enter ISBN#" @onchange="Eval_ISBN" id="ISBN#" class="form-control form-control-sm" />
<button class="btn btn-primary">Update Book Details</button>

@code {
	private string ISBN;
	private void Eval_ISBN(ChangeEventArgs e)
	{
		ISBN = (string)e.Value;
	}
}

