@page "/Adminauthordetails"
<div>
	<h3>Author Details</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">AuthorID</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Gender</th>
			<th scope="col">DOB</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Author a in DatabaseInstance.viewAuthors())
		{
			<tr>
				<td>@a.authorID</td>
				<td>@a.fName</td>
				<td>@a.lName</td>
				<td>@a.gender</td>
				<td>@a.DOB</td>
			</tr>
		}
	</tbody>
</table>
<h3>Edit Author</h3>
<input type="text" @onchange="Eval_AuthorID" placeholder="Enter AuthorID here" id="textAuthorID"/>
<a href="/Admineditauthordata/{@authorID}"><p class="btn btn-primary">Edit Author</p></a>
@code {
	private int authorID;
	private void Eval_AuthorID(ChangeEventArgs e) {
		authorID = Int32.Parse((string)e.Value);
	}
}