@page "/Customerbookbrowser"
<div>
    <h3>Book Browser</h3>
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Title</th>
			<th>Date Published</th>
			<th>Price</th>
			<th>Reviews</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Book b in DatabaseInstance.viewBooks())
		{
			<tr>
				<td>@b.isbnNum</td>
				<td>@b.title</td>
				<td>@b.pubDate</td>
				<td>@b.price</td>
				<td>@b.reviews</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Enter ISBN# Here" id="DOB" class="form-control form-control-sm" />
<button class="btn btn-primary"><a href="/Customereditorder" class="text-white-50 fw-bold"> Add to Order</a></button>

@code {
	private void orderBook() { 
	
	}
}
