@page "/Customerbookbrowser"
<div>
    <h3>Book Browser</h3>
    <input type="search" id="query" name="q" placeholder="Search...">
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Search Options
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">Book Title</a>
			<a class="dropdown-item" href="#">Date Published</a>
			<a class="dropdown-item" href="#">Cetegory</a>
		</div>
	</div>
    <button>Search</button>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ISBN</th>
			<th scope="col">Title</th>
			<th scope="col">Date Published</th>
			<th scope="col">Price</th>
			<th scope="col">Reviews</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Book b in DatabaseInstance.viewBooks())
		{
			<tr>
				<td>@b.isbnNum</td>
				<td>@b.title</td>
				<td>@b.pubDate</td>
				<td>@b.price</td>
				<td>@b.reviews</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Enter ISBN# Here" @onchange="Eval_ISBN" id="DOB" class="form-control form-control-sm" />
<button class="btn btn-primary" href="/Customereditorder">Add to Order</button>

@code {
	private int ISBN;
	private void Eval_ISBN(ChangeEventArgs e)
	{
		ISBN = Int32.Parse((string)e.Value);
	}
}
