@page "/Customerbookbrowser"
<h3>Customer Book Browser</h3>
<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Title</a>
      <a class="dropdown-item" href="#">Date Published</a>
      <a class="dropdown-item" href="#">Category</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ISBN</th>
			<th scope="col">Title</th>
			<th scope="col">Date Published</th>
			<th scope="col">Price</th>
			<th scope="col">Reviews</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Book b in DatabaseInstance.viewBooks())
		{
			<tr>
				<td>@b.isbnNum</td>
				<td>@b.title</td>
				<td>@b.pubDate</td>
				<td>@b.price</td>
				<td>@b.reviews</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Enter ISBN# Here" @onchange="Eval_ISBN" id="DOB" class="form-control form-control-sm" />
<button class="btn btn-primary" href="/Customereditorder">Add to Order</button>

@code {
	private int ISBN;
	private void Eval_ISBN(ChangeEventArgs e)
	{
		ISBN = Int32.Parse((string)e.Value);
	}
}
